html, #root {
  height: 100%;
}

body {
  background: grey;
  height: 89%;
}

button {
  padding: 10px;
  color: white;
  background: grey;
  cursor: pointer;
  border-radius: 2px;
}

i {
  cursor: pointer;
  margin: 5px;
  font-size: 25px;
  &:hover {
    opacity: 0.5;
  }
}

.kanban-board {
  height: 100%;
  margin: 50px;
  padding: 10px;
  background: white;
  border-radius: 10px;  
  display: flex;
  flex-direction: column;
  section {
    display: flex;
  }

  .kanban-board-header {
    h2 {
      color: white;
      background: grey;
      margin: 10px 10px 0 10px;
      padding: 10px;
      border-radius: 5px 5px 0 0;
      width: 100%;
      text-align: center;
    }
  }
  .kanban-board-lists {
    height: 100%;
    overflow: scroll;
  }
}

.task-list {
  margin: 0 10px 10px 10px;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  border: 2px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;  
  > * {
    width: 100%;
  }
}

.task-list-items {
  display: flex;
  flex-direction: column;
  overflow: auto;
  color: white;
  font-size: 14pt;
  width: 100%;
  li + li {
    margin-top: 10px;
    hyphens: auto;
  }
  margin-bottom: 10px;
  position: relative;
  > * {
    border-radius: 5px;
    border: 2px solid grey;
    background: grey;
    margin-bottom: 10px;
    padding: 10px;
  }
}

.task-form {
  .task-form-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    i {
      font-size: 12pt;
    }
  }
  display: flex;
  flex-direction: column;
  background: white;
  border: 1px solid grey;
  color: black;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 12pt;
  form {
    display: flex;
    flex-direction: column;
    input {
      box-sizing: border-box;
      height: 25px;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}